html, body {
    margin: 10;
    padding: 10;
    background-image: url('images/four.png');
}
h1{
    text-align: center;
    margin-right: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 5px black;
    margin: 0 auto;
    border-radius: 10px;
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
    border-top-right-radius: 10px;
}

.apple {
    background-color: blue;
    border-radius: 50px;
}
button{
    display: inline-block;
    padding: 10px 40px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 10px;
    width: 20%;
    margin-left: 700px;
    margin-top: 50px;
}