html, body {
    margin: 10;
    padding: 10;
    background-color: ;
}
h1{
    text-align: center;
    margin-right: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: blue;
}
button{
    display: inline-block;
    padding: 10px 40px;
    background-color: blueviolet;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 10px;
    width: 50%;
    margin-left: 400px;
    margin-top: 100px;
}